<!-- <footer class="flex bg-blue-950 ">
    <div class="flex flex-col ">
        <div class="row">
            <h1>This is footer</h1>
            
        </div>
    </div>
</footer> -->



<footer class="bg-blue-950">
    <div class="mx-20 w-full max-w-screen-xl">
        <div class="grid grid-cols-2 gap-2 px-4 py-7 lg:py-8 md:grid-cols-4">
            <div>
                <img src="/footer-logo.png" alt="luxury-logo" class="mb-3">
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <!-- <a href="#" class=" hover:underline">About</a> -->
                         <p class="font-montserrat text-white text-sm font-light">497 Evergreen Rd. Roseville, CA 95673</p>
                         <p class="font-montserrat text-white text-sm font-light">+44 345 678 903</p>
                         <p class="font-montserrat text-white text-sm font-light">luxury_hotels&#64;gmail.com</p>
                    </li>
                    
                </ul>
            </div>
            <div>
                <!-- <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Help center</h2> -->
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-2">
                        <a href="#" class="font-montserrat text-white hover:underline">About Us</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="font-montserrat  text-white hover:underline">Contact</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="font-montserrat text-white hover:underline">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
            <div>
                <!-- <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2> -->
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-2">
                        <a href="#" class="font-montserrat text-white hover:underline">Facebook</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="font-montserrat text-white hover:underline">Twitter</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="font-montserrat text-white hover:underline">Instagram</a>
                    </li>
                </ul>
            </div>
            <div>
                <!-- <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Download</h2> -->
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-2">
                        <p class="font-montserrat text-white text-sm">Subscribe to our newsletter</p>
                    </li>
                    <li class="mb-2">
                        <!-- <a href="#" class="hover:underline">Android</a> -->
                         <form action="" class="flex my-6">
                            <input type="email" name="email" id="emailForm" placeholder="Email Address" class="px-4 py-2 placeholder-white focus:text-white focus:bg-blue-950 text-white focus:ring-0 font-montserrat text-sm rounded-l-sm border-2 border-luxury bg-blue-950 text-white">
                            <button type="submit" class="font-montserrat text-blue-950 bg-luxury uppercase px-4 py-2 text-sm rounded-r-sm">OK</button>
                         </form>
                    </li>
                    
                </ul>
            </div>
        </div>
        
    </div>
</footer>
